<div class="col-sm-6 col-sm-offset-3">
    <!-- LOGIN FORM -->
    <form action="/reset/{{user.resetToken.resetPasswordToken}}" method="post">
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Valider</button>
    </form>
</div>
